{% load staticfiles %}  
<html>
<head>
    <title>添加作者结果</title>
</head>
<body background= "{% static "images/zjp.jpg" %}" alt="Picture of book" >
    <a href="/Manage/">返回主界面</a>>>
    <a href="/AddAuthor/">返回作者添加</a>>>
    <a href="/AddAuthorResult/">作者添加结果</a>
    <hr/>
      <hr/>
    <table align="center">
        {% if IsAuthor %} 
                <tr align = "center"><td>
                    <h1><div style="color:red">你添加的作者{{Name}}已存在</h1>
                </tr></td>
                <tr align = "center">
                <td colspan="2">
                <form action="/AddAuthor/">
		           <p><input type="submit"  value = "点击重新添加"/></p>
	          </form></td></tr>
                <tr align = "center">
                <td colspan="2">
                <form action="/AddBook/">
		           <p><input type="submit"  value = "点击添加图书"/></p>
	          </form> </td> </tr>
        {% else %}
            <tr align = "center"><td>
                <h1><div style="color:red">添加作者{{Name}}成功</h1>
            </tr></td>
            <tr align = "center">
                <td colspan="2">
                <form action="/AddAuthor/">
		           <p><input type="submit"  value = "点击继续添加"/></p>
	          </form></td></tr>
                <tr align = "center">
                <td colspan="2">
                <form action="/AddBook/">
		           <p><input type="submit"  value = "点击添加图书"/></p>
	          </form> </td> </tr>
        {% endif %}
    </table>

</body>
</html>